html {
  user-select: none;
}

.logo {
  background: no-repeat center url('./logo.png');
  background-size: contain;
}

.scollBtn {
  transform: translate(0, -40px);
  height: 40px;
}

.wheel {
  width: 1.2rem;
  height: 1.2rem;
  border-left: 0.15rem solid black;
  border-bottom: 0.15rem solid black;
  transform: rotate(-45deg);
}

.wheel::after {
  content: '';
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-left: 0.15rem solid black;
  border-bottom: 0.15rem solid black;
  transform: translate(-0.55rem, 0.4rem);
}
