@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html {
  user-select: none;
}

.scollBtn {
  transform: translate(0, -40px);
  height: 40px;
}

.wheel {
  width: 1.2rem;
  height: 1.2rem;
  border-left: 0.15rem solid black;
  border-bottom: 0.15rem solid black;
  transform: rotate(-45deg);
}

.wheel::after {
  content: '';
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-left: 0.15rem solid black;
  border-bottom: 0.15rem solid black;
  transform: translate(-0.55rem, 0.4rem);
}

.area {
  /* background-color: #ffcbea; */
  font-family: 'Prompt', sans-serif;
}

.circle-container {
  height: 40vmin;
  margin: 5rem 0;
  position: relative;
  animation-name: rotate;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.separator {
  height: 5rem;
  width: 5rem;
  border-right: 1px solid black;
  transform-origin: right top;
  transform: translateX(-100%) skew(-45deg);
}

.circle-container .circle-item {
  position: absolute;
  width: 23vmin;
  height: 23vmin;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 5rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.i1 {
  transform: rotate(calc((360deg / 6) * 1)) translate(0, 22vmin) rotate(calc((360deg / 6) * -1));
}
.i2 {
  transform: rotate(calc((360deg / 6) * 2)) translate(0, 22vmin) rotate(calc((360deg / 6) * -2));
}
.i3 {
  transform: rotate(calc((360deg / 6) * 3)) translate(0, 22vmin) rotate(calc((360deg / 6) * -3));
}
.i4 {
  transform: rotate(calc((360deg / 6) * 4)) translate(0, 22vmin) rotate(calc((360deg / 6) * -4));
}
.i5 {
  transform: rotate(calc((360deg / 6) * 5)) translate(0, 22vmin) rotate(calc((360deg / 6) * -5));
}
.i6 {
  transform: rotate(calc((360deg / 6) * 6)) translate(0, 22vmin) rotate(calc((360deg / 6) * -6));
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 2rem;
  }

  .separator {
    margin: 2rem 0 2rem;
    height: 3rem;
    transform: translateX(-45%) skew(-45deg);
  }
  .i1 {
    transform: rotate(calc((360deg / 6) * 1)) translate(0, 27vmin) rotate(calc((360deg / 6) * -1));
  }
  .i2 {
    transform: rotate(calc((360deg / 6) * 2)) translate(0, 27vmin) rotate(calc((360deg / 6) * -2));
  }
  .i3 {
    transform: rotate(calc((360deg / 6) * 3)) translate(0, 27vmin) rotate(calc((360deg / 6) * -3));
  }
  .i4 {
    transform: rotate(calc((360deg / 6) * 4)) translate(0, 27vmin) rotate(calc((360deg / 6) * -4));
  }
  .i5 {
    transform: rotate(calc((360deg / 6) * 5)) translate(0, 27vmin) rotate(calc((360deg / 6) * -5));
  }
  .i6 {
    transform: rotate(calc((360deg / 6) * 6)) translate(0, 27vmin) rotate(calc((360deg / 6) * -6));
  }
}

.circle-item .circle-text {
  text-align: center;
  font-size: 0.8rem;
  animation-name: rotate-revers;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-revers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
